<div class="background"></div>

<header>
  <a href="#">BitByteBit</a>
</header>

<main>
  <section id="card">
    <ul>
      <li>
        <span></span>
        <strong>Keep track of what you owe</strong>
      </li>
      <li>
        <span></span>
        <strong>Keep track of who owes you</strong>
      </li>
      <!-- <li>
        <span></span>
        <strong>Another thing</strong>
      </li> -->
    </ul>
  </section>
  <section id="primary">
    <h1>Debbit</h1>
    <p>Be your own bank</p>
    <div id="buttons">
      <a id="login" (click)="auth.googleSignin()">Log In</a>
      <br>
      <a id="signup">Sign Up</a>
    </div>

  </section>
</main>
